
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:'Times New Roman', Times, serif;
  background-color: #fcc8e6; 
}

.App {
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  padding-top: 30px;
}


.App-header {
  width: 60%; 
  max-width: 280px; 
  background-color: #66b1bb; 
  padding: 15px 10px; 
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  border-radius: 8px; 
  box-shadow: 0 3px 5px rgba(0,0,0,0.1); 
  margin-bottom: 20px;  
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  align-items: center;
}

input[type="text"] {
  padding: 8px 10px;
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  transform: scale(1.2);
}

button {
  padding: 8px 15px;
  background-color: #b8f375; /* pastel blue */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7fd9f7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 10px 15px;
  width: 350px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* =========================
   Status Labels
========================= */
.open {
  color: green;
  font-weight: bold;
}

.closed {
  color: red;
  font-weight: bold;
}
/* Add styles for the table */
.note-table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  text-align: left;
}

.note-table th, .note-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.note-table th {
  background-color: #f2f2f2;
}

button {
  padding: 8px 15px;
  background-color: #f0ad4e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ec971f;
}
